<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">

    <title>Cart</title>
</head>
<body>
    <!-- NAV BAR -->
    <div id="nav-bar-background">
        <h1>Pokezon</h1>
        <ul id="nav-bar">
            <li class="nav-bar-element"><a href="/">Home</a></li>
            <li class="nav-bar-element"><a href="cart">Cart</a></li>
        </ul>
    </div>
    
    <div id = "greyResults">
        <h2>Cart</h2>

        <div>
            <%- html %>
        </div>

        <form action="/clear" method="post">
            <input type="submit" value="Clear cart" onclick="return confirmRemove()">
        </form>

        <form action="/shop" method="post">
            <input type="submit" value="Continue shopping">
        </form>

        <form action="/checkout" method="post">
            <input type="submit" value="Checkout" onclick="return confirmCheckout()">
        </form>
        

        <script>
            
            function confirmRemove() {
                return confirm("Are you sure you want to clear your cart?");
            }

            function confirmCheckout() {
                return confirm("Are you sure you want to checkout?");
            }
        </script>

        <hr>
        <p id = "pink">Created by Amber Chen, Mabel Hong, and Wendy Tu | Sponsored by Nelson</p>
    </div>

</body>
</html>