<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Cart</title>
</head>
<body>
    <!-- NAV BAR -->
    <div id="nav-bar-background">
        <h1>Pokezon</h1>
        <ul id="nav-bar">
            <li class="nav-bar-element"><a class="link" href="/">Home</a></li>
            <li class="nav-bar-element"><a class="link" href="cart">Cart</a></li>
        </ul>
    </div>
    
    <div id = "greyResults">
        <h1>Congrats!</h1>
        <h2>You are now the proud owner of:</h2>

        <div>
            <%- html %>
        </div>

        <hr>
        <p id = "pink">Created by Amber Chen, Mabel Hong, and Wendy Tu | Sponsored by Nelson</p>
        <img src = "pokemonlogo.png" id  = "center" width = "250" height = "175">
    </div>

</body>
</html>