<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search History</title>
</head>
<body>
    <!-- NAV BAR -->
    <ul>
        <li><a href="index.ejs">Home</a></li>
        <li><a href="history.ejs">History</a></li>
    </ul>
    
    <h1>Pokezon</h1>
    <h3>Recent Searches</h3>

    <div>
        <%- list %>
    </div>

</body>
</html>