<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pokezon</title>
</head>
<body>
    <!-- NAV BAR -->
    <ul>
        <li><a href="index.ejs">Home</a></li>
        <li><a href="history.ejs">History</a></li>
    </ul>

    <h1>Pokezon</h1>
    <h2>Welcome to Pokezon!</h2>

    <h3>Search for your next Pokemon: </h3><br>
    <input type="text" id="pokemonSearchBar" name="pokemonName" value="Pikachu">
    <input type="submit" name="submitButton">
    <input type="checkbox" name="shiny"> <label for="shiny">Shiny</label><br>
    <input type="checkbox" name="normal"> <label for="normal">Normal</label><br>

    <hr>
    <p>Created by Amber Chen, Mabel Hong, and Wendy Tu | Sponsored by Nelson</p>
</body>
</html>