<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">

    <title>Pokezon</title>
</head>
<body>
    <!-- NAV BAR -->
    <div id="nav-bar-background">
        <h1>Pokezon</h1>
        <ul id="nav-bar">
            <li class="nav-bar-element"><a href="/">Home</a></li>
            <li class="nav-bar-element"><a href="/history">History</a></li>
            <li class="nav-bar-element"><a href="/cart">Cart</a></li>
        </ul>
    </div>
    

    <div id = "grey">
    <h2>Welcome to Pokezon!</h2>

    <h3 id="index-subheading">Search for your next Pokemon: </h3><br>
    <form action="/searchResults" method="post">
        <input type="text" id="pokemonSearchBar" name="pokemonName" value="Pikachu">
        <input type="submit" id="submitButton" name="submitButton" value="Search"><br>
        <input type="radio" id="normal" value="normal" name="color" checked> <label for="normal">Normal</label>
        <input type="radio" id="shiny" value="shiny" name="color"> <label for="shiny">Shiny</label>
    </form>

    <hr>
    <p>Created by Amber Chen, Mabel Hong, and Wendy Tu | Sponsored by Nelson</p>
    </div>
</body>
</html>