@font-face {
    font-family: pokemon;
    src: url(Pokemon-Solid.ttf);
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: pokemon;
}

html {

}

h2 {

}